.star-rating button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.star {
  cursor: pointer;
}

.star.active ion-icon {
  color: gold;
}

.star.hover ion-icon {
  color: orange;
}
